.container {
    width: 100%;
    min-height: 3em;
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav {
    min-height: 100%;
    display: flex;
    flex-direction: row;
    /* align-items: center;
    justify-content: center; */
    gap: 3em;
    /* border: 1px solid red; */
    
}

.navMobile {
    height: 80vh;
    width: 98vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding-top: 3.5em;
    gap: 3em;
    font-size: 1.7rem;
}

#lastHl {
    position: absolute;
    top: 3.5em;
    margin-left: 1em;
}

.navMobile a {
    color: inherit;
    text-decoration: none;
    border-bottom: 1px solid black;
}

.burger {
    position: absolute;
    top: 1em;
    display: none;

}

@media screen and (max-width: 600px) {
    #cart {
        display: none;
    }
    .nav {
        display: none;
    }    
    .burger {
        display: inline;
    }
    
}

.vl {
    width: 1px;
    height: 20px;
    background-color: rgb(153, 153, 153);
}

.hl {
    width: 90%;
    height: 1px;
    background-color: rgb(153, 153, 153);
    margin: 0 auto;
}

.nav a {
    text-decoration: none;
    color: black;
}

.nav a:hover {
    border-bottom: 1px solid black;
}

#cart {
    /* margin-left: 20em; */
    /* padding-left: 20em; */
    position: absolute;
    right: 20%;
    color: rgb(81, 81, 81);
    height: 1.3em;
}

#cart:hover {
    border-bottom: 1px solid black;
}

