.container {
    width: clamp(6em, 1em + 10vw, 14em);
    height: clamp(8em, 1em + 10vw, 16em);

    margin: 5em;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /* gap: 1.2em; */
    /* border: 1px solid red; */
}


.item-img img {
    max-width: 100%;
    max-height: clamp(4em, 1em + 10vw, 8em);
}
.item-img {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40%; 
    }

.item-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: clamp(1rem, 1rem + 10vw, 1.5rem);
}