<div class="container">
    <h2 id="title">Shopping Cart</h2>
    <div class="cart">
        <div class="headline">
            <p id="item">Item</p>
            <p>Total</p>
        </div>
        <div class="hl"></div>
        <!-- <div class="item">
            <div class="img">
                <img src={{item.}} alt="">
            </div>
        </div> -->
        <div class="items">
            <app-item-in-cart *ngFor="let item of items" [item]="item"></app-item-in-cart>
        </div>
        <div class="hl"></div>
        <div class="total">
            <p>Order Total</p>
            <p>${{totalPrice}} CAD</p>
        </div>
    </div>
</div>