.container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.innerContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: -2em;
}

.headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;


}

#title {
    padding-top: 3em;
    margin-left: 1em;
}

#item {
    /* margin-left: 9.5em; */
}

.hl {
    /* margin-left: 4em; */
    height: 1px;
    width: 50vw;
    background-color: rgb(153, 153, 153);
}

.total {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
    /* margin-left: 4em; */
}

.cart {
    /* border: 1px solid red; */
    /* margin-left: 3em; */
    width: 90%;
}

@media screen and (max-width: 600px){
    .headline {
        width: 70vw;
    }
    .hl {
        width: 70vw;
    }

    .total {
        width: 70vw;
    }
    .innerContainer {
        /* margin-left: 5em; */
    }
    #title {
        /* margin-left: -3em; */
    }
}