.container {
    height: 13vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-right: 7em;
}




.description {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* border: 1px solid red; */
}

.image img {
    max-width: 100%;
    max-height: clamp(2em, 1em + 10vw, 4em);
}
.image {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 40%; 
    width: 20%;
    margin-right: 1em;
}

.price {
    display: flex;
    flex-direction: column;
    text-align: right;
    gap: -1em;
    /* border: 1px solid red; */
}

#remove {
    width: 5em;
    /* margin-left: 1.3em; */
}

#remove:hover {
    border-bottom: 1px solid black;
    /* text-decoration: underline; */
}

@media screen and (min-width: 600px) {
    .container {
        width: 50vw;
    }
}